[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
passlib = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = "*"
sqlalchemy-utils = "*"
psycopg2 = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"